TZ='Europe/Zurich'
REGISTRY_PROXY_REMOTEURL='https://registry-1.docker.io'
REGISTRY_PROXY_USERNAME='${REGISTRY_PROXY_USERNAME}'
REGISTRY_PROXY_PASSWORD='${REGISTRY_PROXY_PASSWORD}'
REGISTRY_STORAGE_DELETE_ENABLED='true'
