---
image: docker:stable

services:
  - docker:dind

stages:
  - stage1
  - stage2
  - stage3

variables:
  DOCKER_PLATFORMS: linux/amd64,linux/arm64
  DOCKER_BUILDX_VERSION: 0.4.2

before_script:
  - apk add --no-cache bash
  - export PATH="$(pwd)/bin:$PATH"
  - source environment

template:
  stage: {{STAGE}}
  script: retry build "{{DIRECTORY}}" "{{TAGS}}"
  resource_group: {{RESOURCE_GROUP}}
  needs: {{NEEDS}}
